.main {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    column-gap: 60px;
    overflow-y: hidden;
}

.side_panel {
    width: 320px;
    float: left;
}

.navigation_panel {
    width: 320px;
    text-align: left;
    margin-bottom: 80px;
}

.outlet {
    composes: cool-scrollbar from '../../styles/scrollbar.module.css';
    width: 700px;
    overflow-y: auto;
}
.link {
    text-decoration: none;
    display: block;
    height: 64px;
    cursor: pointer;
}

