.card {
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 40px;
    background-color: #1C1C21;
    cursor: pointer;
}

.card_header {
    display: flex; 
    justify-content: space-between;
}

.short_details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.ingredients {
    display: flex;
}

.ingredient_icon {
    width: 64px;
    height: 64px;
    box-sizing: border-box;
    border: 2px solid #4C4CFF;
    border-radius: 50%;
    background-color: #131316;
    text-align: center;
}

.ingredient_icon > img {
    height: 56px;
    transform: translate(-24px, 4px);
}

.ingredient_icon:not(:first-child) {
    /*transform: translateX(-16px);*/
}