.modal {
    position: absolute;
    width: 720px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: #1C1C21;
    border: 1px solid #4C4CFF33;
    border-radius: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.close {
    cursor: pointer;
}