:root {
    scrollbar-color: unset !important;
}

.cool-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.cool-scrollbar::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}

.cool-scrollbar::-webkit-scrollbar-track {
    background-color: #2F2F37;
}