.ingredients_section {
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.ingredient_card {
    display: flex;
    flex-direction: column;
    gap: 1px;
    height: 208px;
    align-items: center;
}

.ingredient_card img {
    width: 240px;
    height: 120px;
}

.ingredient_grid {
    composes: cool-scrollbar from global;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
    column-gap: 24px;
    padding-left: 0;
    width: 600px;
    overflow-y: auto;
}

.tabs {
    display: flex;
    justify-content: stretch;
}
